<!DOCTYPE html>
<html lang="{{- site.Language.Lang -}}" data-theme="{{- .Site.Params.displayMode -}}">
{{- partial "head.html" . -}}
<body>

{{ if .IsHome }}
    {{- partial "sidebar.html" . -}}
    <div class="main">
        {{ partial "navbar.html" . }}
        <div class="autopagerize_page_element">
            <div class="content">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
    </div>
{{ else }}
    <div class="sidebar_not_home">
        {{- partial "sidebar.html" . -}}
    </div>
    <div class="main">
        {{ partial "navbar.html" . }}
        <div class="autopagerize_page_element">
            <div class="content_not_home">
                {{- block "main" . }}{{- end }}
            </div>
        </div>
    </div>
{{- end -}}

{{- partial "footer.html" . -}}
{{- if (eq .Site.Params.simpleAnalytics.enable true) -}}
    {{- partial "analytics/simpleanalytics.html" . -}}
{{- end -}}
</body>

</html>
