<div class=form-container>
    <div class=form-row id=subscribe>
       <fieldset>
          <form action=https://api.victoria.dev/subscribe/ method=get><input type=email name=email id=email placeholder="New posts in your inbox!" required>
             <button type=submit class=primary value=Subscribe>Subscribe</button>
          </form>
       </fieldset>
       <fieldset>
          <form><span id=rss-cta>&nbsp;or
             <a href=https://victoria.dev/index.xml class="button secondary" rel=alternate type=application/rss+xml title="RSS for Victoria Drake">Subscribe with RSS</a></span>
          </form>
       </fieldset>
    </div>
 </div>